# Virtual environment
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so

# IDEs
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Django
db.sqlite3
*.log
*.pot
*.pyc

# Static files
staticfiles/
media/

# Migrations
*/migrations/__pycache__/
*/migrations/*.pyc
*/migrations/*.pyo
*/migrations/*.pyd
*/migrations/*.sqlite3
*/migrations/*.log